body {
    margin: auto 0;
}
html {
    scroll-behavior: smooth;
}
.zone {
    position: relative;
    color: black;
    margin: 0;
}

/***********************************************************************
/* section 1 */
/* Top right text */
.top-right {
    position: absolute;
    top: 110px;
    right: 200px;
    margin-left: auto;
    font-size: 1.5em;
}
.button {
    cursor: pointer;
    outline: none;

}
a {
    text-decoration: none;
    color: whitesmoke;
    border-bottom: 3px solid transparent;
    font-size: 30px;
}
@media screen and (max-width: 992px) {
    .top-right {
        position: absolute;
        top: 60px;
        right: 0px;
        margin-left: auto;
        font-size: 1em;
    }
    .button {
        cursor: none;
        height: 25px;
        width: 100px;
        outline: none;
    }
}
.button {
    background-color: black;
    padding: 9px;
    color:whitesmoke;
    font-size: 25px;
    margin-left: 100px ;
    outline: none;
    width: 160px;
    height: 45px;
    border-radius: 7px;
    box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255, 0.4), 0 12px 12px 0 rgba(0, 0, 0, 0.3);
}
.img-head {
    display: block;
    border-radius:0px 3% 100% 0;
    clip-path: polygon(0 0, 100% 0, 100% 16%, 0 100%);
}


.background {
    display: block;
    width: 50%;
    height: 10%;
    margin-top: -36.8%;
    clip-path: polygon(0 69%, 100% 26%, 100% 45%, 0 86%);

    border-bottom-right-radius:100%;
    border-top-right-radius: 100%;

}

@media  screen and (max-width: 800px) {
    .background {
        display: block;
        width: 50%;
        height: 10%;
        margin-top: -37.1%;
    }
}

  /* cover */
.container {
    height: 50vh;

}
.text2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

/***********************************************************************
/* section2 */
.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    margin-top: 0;
}


.box  > img{
    width: 100%;
}

.box {
    position: absolute;
    margin-top: 0px;
    right: 0;
    width: 50%;
    margin-left: auto;
}

#trash-img {
    margin-top: -200px;
    right: 1px;
    position: absolute;
    /* width: 27%; */
    margin-left: auto;
    height: 450px;
    opacity: 0.3;
}
@media  screen and (max-width: 1000px) {
    #trash-img {
        margin-top: -50px;
        margin-right: 0;
        right: 3px;
        /* width: 30%; */
        margin-left: auto;
        height: 250px;
    }
}


.top-right-about {
    color: black;
    position: absolute;
    right:20px;
    margin-top:-250px;
    margin-left: auto;
}

@media  screen and (max-width: 1000px) {
    .top-right-about {
        color: black;
        position: absolute;
        margin-top: 30px;
        right: 5px;
        margin-left: auto;
        font-size: 0.7em;
    }
}
#consulting {
    margin-top: -100px;
    transform:rotate(-25deg);
    left: 10px;
    position: absolute;
    text-align: left;
    font-size: 2.5em;
}
@media screen and (max-width: 1030px) {
    #consulting {
        font-size: large;
        margin-top: -40px;
        transform:rotate(-26deg);
        left: 0px;
        position: absolute;
        text-align: left;
        font-size: 1.5em;
    }  
}
.bottomtotop {
    transform:rotate(-6deg);
    left: 50px;
    line-height: 50px;
    margin-top: -200px;
    position: absolute;
    text-align: left;
    top: 50%;
    width: 100%;
}

.txt-body {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-top:100px;
    width: 50%;
    /* padding: ; */
    text-align: center;
}
@media screen and (max-width: 1000px) {
    .txt-body {
        writing-mode: vertical-rl;
        margin-top:30px;
        width: 50%;
        padding: 200px;
        text-align: left;
        font-size: 0.8em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}
.txt-mode {
    writing-mode: horizontal-tb;

}

/***********************************************************************
/* adding footer */

.grid-footer {
    margin-top: 50px;
    position: absolute;
    right: 0;
    width: 1000px;
    margin-left: auto;
    height: 470px;
    background: rgb(8,32,52);
    background: linear-gradient(90deg, rgba(8,32,52,1) 17%, rgba(11,44,69,1) 37%);
    width: 90%;
    border-radius: 100% 0px 0px;;
}


.img-foot {
    position: absolute;
    margin-top: 70px;
    right: 0;
    bottom: 0;
    width: 98%;
    height: 400px;
    margin-left: auto;
    border-radius: 100% 0 0 0;
}
#news {
    color: white;
    position: absolute;
    top: 10px;
    right: 30px;
    margin-left: auto;
}

.ml6 {
    position: relative;
    font-weight: 900;
    font-size: 1.3em;
}
  
 .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml6 .letter {
    display: inline-block;
    line-height: 1em;
  }
